@import '../../styles/mixins';
@import '../../styles/variables';

.results {
  &__block {
    @include flex(column, flex-start, center);
    &-heading {
      font-size: 2rem;
    }
    &-list {
      @include flex(row, space-between, center);
      padding: 0;
      width: 100%;
      flex-wrap: wrap;
      &-item {
        @include flex(row, flex-start, center);
        background-color: $fill-dark-faded;
        border-right: 6px solid $fill-light;
        margin: 0 24px 24px 0;
        transition: $global-transition;
        width: calc(50% - 12px);
        @include mobile {
          @include flex(column, flex-start, flex-start);
        }
        @include tablet {
          width: 100%;
          margin-right: 0;
        }
        &:nth-of-type(2n) {
          margin-right: 0;
        }
        &:hover {
          border-right: 6px solid $fill-cta-hover;
        }
        &-poster {
          height: 160px;
          width: 120px;
          margin-right: 16px;
          @include mobile {
            width: 100%;
            height: 180px;
          }
          &-img {
            object-fit: cover;
            height: 100%;
            width: 100%;
          }
        }
        &-desc {
          @include flex(column, flex-start, flex-start);
          align-self: flex-start;
          width: calc(100% - 136px);
          height: 160px;
          padding: 2px 5px;
          white-space: nowrap;
          @include mobile {
            @include flex(column, space-between, flex-start);
            width: 100%;
            height: 148px;
          }
          &-title {
            display: inline-block;
            overflow: hidden;
            width: 300px;
            font-size: 1.875rem;
            margin: 16px 0 16px 0;
            text-overflow: ellipsis;
            @include tablet {
              width: 500px;
            }
            @include mobile {
              width: 320px;
              margin: 12px 0 0 12px;
            }
          }
          &-year {
            font-size: 1.2rem;
            @include mobile {
              margin-left: 12px;
            }
          }
          &-button {
            align-self: flex-end;
            margin: 10px 24px 0 0;
            background-color: $fill-cta;
            border: 1px solid transparent;
            border-radius: 20px;
            height: 40px;
            width: 100px;
            transition: $global-transition;
            font-weight: 700;
            text-transform: uppercase;
            text-shadow: $text-shadow;
            @include mobile {
              margin: 0 12px 12px 0;
            }
            &:hover {
              background-color: $fill-cta-hover;
              border-radius: 8px;
            }
            &:disabled {
              background-color: $fill-disabled;
            }
          }
        }
      }
    }
    &-page {
      @include flex(row, center, center);
      margin: 24px 0 40px 0;
      &-button {
        align-self: flex-end;
        background-color: transparent;
        border: 1px solid $fill-light;
        height: 40px;
        width: 68px;
        font-weight: 700;
        text-transform: uppercase;
        text-shadow: $text-shadow;
        transition: $global-transition;
        &:hover {
          border: 1px solid $fill-cta-hover;
        }
        &--prev {
          border-radius: 20px 0 0 20px;
          &:hover {
            border-radius: 8px 0 0 8px;
          }
        }
        &--next {
          border-radius: 0 20px 20px 0;
          &:hover {
            border-radius: 0 8px 8px 0;
          }
        }
      }
      &-numbers {
        @include flex-center;
        font-size: 1.16rem;
        text-align: center;
        height: 40px;
        width: 80px;
        border-top: 1px solid $fill-light;
        border-bottom: 1px solid $fill-light;
      }
    }
  }
}