@import '../../styles/mixins';
@import '../../styles/variables';

.notification {
  position: absolute;
  background-color: $fill-blocked-view;
  width: 100%;
  height: 100vh;
  &--visible {
    @include flex(row, flex-end, flex-start);
    top: 0;
    left: 0;
  }
  &--hidden {
    display: none;
  }
  &__block {
    background-color: $fill-popup;
    border-radius: 20px;
    box-shadow: $glow-popup;
    padding: 24px;
    max-height: 640px;
    max-width: 374px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    &-title {
      font-size: 1.875rem;
      margin-top: 0;
    }
    &-desc {
      font-size: 1.6rem;
      margin-bottom: 24px;
    }
    &-button {
      background-color: $fill-cta;
      border: 1px solid transparent;
      border-radius: 20px;
      height: 40px;
      width: 100px;
      transition: $global-transition;
      font-weight: 700;
      text-transform: uppercase;
      text-shadow: $text-shadow;
      &:hover {
        background-color: $fill-cta-hover;
        border-radius: 8px;
      }
    }
  }
}