@import './fonts';

$fill-global: #131314;
$fill-cta: #90b945;
$fill-cta-hover: #5b8a3c;
$fill-disabled: #50312e5d;
$fill-input: #eeedf0;
$fill-dark-faded: #5051585d;
$fill-light: #eeedf0c5;

$color-global: #eeedf0;
$color-light: #eeedf0c5;
$color-dark: #202124;

$drop-shadow: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.6));
$text-shadow: 2px 2px 5px rgba(0,0,0,0.6);

$ff-global-body: 'Roboto', sans-serif;
$ff-global-heading: 'SairaCondensed', sans-serif;