@import './fonts';

$fill-global: #202124;
$fill-cta: #90b945;
$fill-cta-hover: #5b8a3c;

$color-global: #eeedf0;

$ff-global-body: 'Roboto', sans-serif;
$ff-global-heading: 'SairaCondensed', sans-serif;