@import '../../styles/mixins';
@import '../../styles/variables';

.header {
  background-color: $fill-global;
  border-bottom: 1px solid $fill-cta;
  height: $height-header;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  & + * {
		margin-top: $height-header;
	}
  &__block {
    @include flex(row, space-between, center);
    &-link {
      @include flex(row, center, center);
      &-logo {
        height: 36px;
      }
      &-text {
        font-family: $ff-global-heading;
        font-weight: 700;
        font-size: 3rem;
        margin: 20px 0px 12px 12px;
        text-decoration-color: transparent;
        transition: $global-transition;
      }
      &:hover .header__block-link-text {
        text-decoration: underline $fill-cta-hover 2px;
        text-underline-position: under;
        text-underline-offset: 2px;
      }
    }
    &-counter {
      &-button {
        @include flex(row, space-evenly, center);
        background-color: transparent;
        border: 1px solid $fill-cta;
        border-radius: 20px;
        height: 40px;
        width: 200px;
        transition: $global-transition;
        @include mobile {
          width: 160px;
        }
        &:hover {
          background-color: $fill-cta-hover;
          border-radius: 8px;
        }
        &-count {
          text-transform: uppercase;
          font-size: 1.6rem;
          font-weight: 700;
          @include mobile {
            font-size: 1.2rem;
            // font-weight: 400;
          }
        }
        &-text {
          @extend .header__block-counter-button-count
        }
      }
    }
  }
}