@import '../../styles/mixins';
@import '../../styles/variables';

.header {
  border-bottom: 1px solid $fill-cta;
  height: 80px;
  &__block {
    @include flex(row, space-between, center);
    &-link {
      @include flex(row, center, center);
      &-logo {
        height: 36px;
      }
      &-text {
        font-family: $ff-global-heading;
        font-weight: 700;
        font-size: 3rem;
        margin: 20px 0px 12px 12px;
      }
    }
    &-counter {
      &-button {
        @include flex(row, space-evenly, center);
        background-color: transparent;
        border: 1px solid $fill-cta;
        border-radius: 20px;
        height: 40px;
        width: 200px;
        transition: all 0.2s ease-in-out;
        @include mobile {
          width: 160px;
        }
        &:hover {
          background-color: $fill-cta-hover;
          border-radius: 8px;
        }
        &-count {
          text-transform: uppercase;
          font-size: 1.6rem;
          font-weight: 700;
          @include mobile {
            font-size: 1.2rem;
            font-weight: 400;
          }
        }
        &-text {
          @extend .header__block-counter-button-count
        }
      }
    }
  }
}