@import '../../styles/mixins';
@import '../../styles/variables';

.search {
  @include flex-center;
  background-image:
    linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url(../../assets/images/awards.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 600px;
  @include tablet {
    min-height: 500px;
  }
  @include mobile {
    min-height: 300px;
  }
  &__block {
    @include flex(column, center, center);
    &-hero {
      text-align: center;
      &-title {
        font-family: $ff-global-heading;
        font-size: 6rem;
        font-weight: 700;
        margin: 0;
        @include mobile {
          font-size: 5.4rem;
        }
      }
      &-slogan {
        margin: 0;
        font-size: 2rem;
        color: $color-light;
        @include mobile {
          font-size: 1.8rem;
        }
      }
    }
    &-form {
      @include flex-center;
      width: 100%;
      margin: 32px;
      text-align: center;
      &-input {
        background-color: $fill-input;
        border: 1px solid transparent;
        border-radius: 20px 0 0 20px;
        font-weight: 700;
        height: 40px;
        width: 100%;
        max-width: 500px;
        transition: all 0.2s ease-in-out;
        padding-left: 16px;
        color: $color-dark;
        &:focus {
          border-radius: 8px 0 0 8px;
        }
      }
      &-button {
        @include flex-center;
        background-color: $fill-cta;
        border: 1px solid transparent;
        border-radius: 0 20px 20px 0;
        height: 40px;
        transition: all 0.2s ease-in-out;
        &:hover {
          background-color: $fill-cta-hover;
          border-radius: 0 8px 8px 0;
        }
        &-icon {
          height: 32px;
          filter: $drop-shadow;
        }
      }
    }
  }
}